<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64684337230-l7i25v0mnqree7dae6ne4hcro1iu7ati.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64684337230-l7i25v0mnqree7dae6ne4hcro1iu7ati</string>
	<key>API_KEY</key>
	<string>AIzaSyCiKkGRCZctVWV9nqXUC08_hYXcLVGahNc</string>
	<key>GCM_SENDER_ID</key>
	<string>64684337230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kexbng6.HEPIApp</string>
	<key>PROJECT_ID</key>
	<string>hepiapp-f3fae</string>
	<key>STORAGE_BUCKET</key>
	<string>hepiapp-f3fae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64684337230:ios:a943db196d70e9029bfb1f</string>
</dict>
</plist>